.container{
    width: 30%;
    height: 50%;
    border: 1px solid black;
    justify-content: center;
    margin:2% 0% 0% 8%;
   padding: 2% 10% ;
   font-size: larger;
   border-radius: 5%;
   background-color: rgb(141, 146, 150);
   box-shadow: 2px;
}
#input{
    padding: 1%;
    margin: 1%;
    border-radius: 5%;
}
#button{
    padding: 2%;
    width: 30%;
    margin: 2%;
    border-radius: 5%;
}